.hh {
	border-left: 1px solid #005A6B;
	border-right: 1px solid #005A6B;
	border-bottom: 1px solid #005A6B;
	background-color : rgb(189,210,214);
}

/* HeadLabel */
.hl {
	font-family : Arial;
	font-size : 8pt;
	font-weight : bold;
	padding: 5;
	width: 90px;
	text-align : right;
	border-right: 2px dotted White;
}

/* HeadDisplayText */
.hd {
	font-family : Arial;
	font-size : 8pt;
	padding: 5;
}

/* ==========================================
** HeadlineControl
**
** Acronym's
** ------------------------------------------
**
** ==========================================
*/

 /* Caption */
.hdr .c {
	font-family : Arial;
	font-size : 11pt;
	font-weight : bold;
	color: rgb(254,162,23);
	border-bottom: 1px solid #80ADBA;
	padding-left : 2px;
	padding-bottom : 2px;
}

/* Detail */
.hdr .d {
	font-family : Arial;
	font-size : 8pt;
	font-weight : bold;
	color: #80ADBA;
}

/* ==========================================
** HelpControl
**
** Acronym's
** ------------------------------------------
**
** ==========================================
*/
 /* HelpControl */
.hc {
	font-family : Arial;
	font-size : 10pt;
	font-weight : normal;
	color: black;
	background-color : #FFFFE1;
	padding : 3px;
	border: 1px solid black;
}

/* ==========================================
** ListControl
**
** Acronym's
** ------------------------------------------
**
** ==========================================
*/

/*
.lcb INPUT,.lcb TEXTAREA {
	color: black;
	font : normal;
	text-align : left;
	font-size : 14px;
	border : solid;
	border-color : #005a6b;
	border-width : 1px;
	width:100%;
	<!--BACKGROUND: #ffffff url('/libs/images/input.gif');-->
}
.lcb INPUT#submit,.lcb INPUT#reset
{width: auto;
text-align:center;
vertical-align:bottom;
height:21px;
padding:2 0 2;
}
    */
/* ListHeader */
.lch {
	font-family : Arial;
	font-size : 8pt;
	font-weight : bold;
	color : White;
	background-color : #005A6B;
	width : 100%;
}

/* ListControl Body */
.lcb {
	border-left: 1px solid #005A6B;
	border-right: 1px solid #005A6B;
	border-bottom: 1px solid #005A6B;
	background-color : rgb(218,223,224);
}

/* Ueberschriftszeile */
.lcb .header, .header TR, .header TD A {
	font-family : Arial;
	font-weight : bold;
	background-color : #80ADBA;
	color : White;
	padding-left : 10px;
	padding-right:10px;
	/*height : 20px;*/
	vertical-align : middle;
padding:3 0 0;
}
.lcb tr {
	background-color:#D0DEF0	;
	height:26px;
}
.lcb .leftheader, TD.leftheader, .leftheader TD A {
	font-family : Arial;
	font-weight : bold;
	background-color : #D0DEF0 ;
	color : black;
	height : 20px;
	vertical-align : top;
	text-align:right;
	padding:5 5 0;
	max-width:200px;
	width:150px;
}

/* Gerade Zeile */
.even {
	background-color : rgb(237,239,240);
}

.even td {
	font-family : Arial;
	font-size : 8pt;
	padding-left : 10;
	height : 18px;
}

/* Ungerade Zeile */
.odd  {
	background-color : white;
}

.odd  td {
	font-family : Arial;
	font-size : 8pt;
	padding-left : 10;
	height : 18px;
}

/* Hyperlinks */
tr td a {
	font-family : Arial;
	font-size : 9pt;
	text-decoration : none;
	color : blue;
}

/* Caption */
.lch .c {
	font-family : Arial;
	font-size : 9pt;
	font-weight : bold;
	background-color : #005A6B;
	color: White;
}

/* Detail */
.lch .d {
	font-family : Arial;
	font-size : 8pt;
	font-weight : normal;
	background-color : #005A6B;
	color: White;
}

/* ==========================================
** TabsetControl
**
** Acronym's
** ------------------------------------------
**
** ==========================================
*/

/* TabsetControl */
.tsc  {
	color: black;
	font-family: sans-serif;
	font-size : 8pt;
	font-weight : bold;
}

.tsc .sel, .tsc .sel A {
	color: black;
	cursor : hand;
	vertical-align : middle;
}

.tsc .body{
	background-color : #efefef;
	border-left : 1px solid #005a6b;
	border-right : 1px solid #005a6b;
	border-bottom : 1px solid #005a6b;
}

.tsc .unsel, .tsc .unsel A {
	color: white;
	cursor : hand;
	vertical-align : middle;
}

.tsc .disabled {
	color: #8D9DA1;
	vertical-align : middle;
}

/* ==========================================
** Tree Control
**
** Acronym's
** ------------------------------------------
**
** ==========================================
*/

/* Treecontrol */
.tc {
	font-family : Arial;
	font-size : 8pt;
	font-weight : normal;
	border : none;
}

.tc TD {
	border : none;
}

/* ungerade Zeielen */
.tc .tlodd TR {
	font-family : Arial;
	font-size : 8pt;
	font-weight : normal;
	background-color : white;
}

.tc .tlodd TD {
	border-bottom : 1px solid #dce8eb;
}

/* gerade Zeilen */
.tc .tleven TR {
	font-family : Arial;
	font-size : 8pt;
	font-weight : normal;
	background-color : #F3F4F5;
	border : none;
}

.tc .tleven TD {
	border-bottom : 1px solid  #dce8eb;
}


/* Tree Control Item */
.ti {
	width : 100%;
	padding-left : 3px;
}

.ti A {
	color : black;
	text-decoration : none;
}

/* Selected Tree Control Item */
.tis {
	width : 100%;
	padding-left : 3px;
	background-color : rgb(254,162,23);
}

.tis A {
	color : white;
	font-weight : normal;
	text-decoration : none;
}

/* ==========================================
** TabSet Control
** ==========================================
*/
.tabScrollBtnL {
	padding-left: 3px;
	padding-top: 6px;
	padding-right: 1px;
	vertical-align : baseline;
}
.tabScrollBtnR {
	padding-top: 6px;
	padding-left: 0px;
	padding-right: 3px;
	vertical-align : baseline;
}
.tabDetail{
	font-weight: normal;
	padding-left: 20px;
}
div#searchWrapper,div#insertWrapper{
	width:550px;
	text-align:center;
	padding:5px;
}
div#updateWrapper{
	width:700px;
	text-align:center;
	padding:5px;
}

input,td,body,select,textarea {

	font-family: "ו";

	font-size: 13px;

}


.updateResult{
	text-align:center;
	color:red;
}

p{text-indent:2em;}

body {
	color: #000000; 
	background-color: white; 
	font-family: Verdana; 
	
	margin : 0px;

}
input[type="text"],textarea{
	COLOR: #000000; 
	FONT-FAMILY: verdana; 
	/*width:100%;
	BORDER: 1px solid #000000;*/
font-size: 12px;
}

/*
input.ok,textarea.ok{
	BACKGROUND-COLOR: #f5f5f5; 
	BACKGROUND: #ffffff url('/libs/images/input.gif') no-repeat;	
}
*/

TD SPAN {cursor:hand;
color:#336699;}

/* operation style */
td.op{
    font-size:12px;
}
td div.op{
	cursor:pointer;
	color:#369;
  border:1px solid rgb(0,90,107);
  padding:1px;
  text-align:center;
  margin:1px 2px 0 0;
  height:1em;
  display:inline;
}

td div.op:hover {
	background:rgb(0,90,107);
    color:white;
}
TD.lefttitle
{
	padding-right: 1em;
	font-weight:bold;
	text-align:right;
}

html, body {margin: 0; padding: 0;

  color: #000; background: #FFF;

  font-family: Verdana, Arial, sans-serif;}

h1.header {color: #FFF; background: rgb(0%,56%,84%);

  font: bold 150%/1em Arial, Verdana, sans-serif;

  padding: 1em 1em 0; margin: 0;

  border: 1px solid rgb(0%,31%,46%);
	margin-left:-20px;
  border-width: 2px 0;}


#main {font-size: small; color: #AAA; background: #FFF;

  margin: 0; padding: 2.5% 12.5%; clear: left;}

#nav {margin: 0; padding: 0;}

#nav li {list-style: none; float: left;

  margin-left: 1px; padding-left: 16px;

  font-size: 14px; line-height: 20px; white-space: nowrap;

  background: #BBB url(/libs/images/list/tabs2-big.gif) 0 100% no-repeat;}

#nav a {display: block; float: left; padding: 0 16px 0 0;

  text-decoration: none; font-weight: bold;

  background: #DDD url(/libs/images/list/tabs2-big.gif) 100% 100% no-repeat;

  color: #333;

  width: .1em;}

html>body #nav a {width: auto;}    /* fixes IE6 hack */

/* Commented Backslash Hack hides rule from IE5-Mac \*/

#nav a {float: none;}            /* End IE5-Mac hack */

#nav a:hover {color: rgb(62%,35%,22%);}

#nav #current, #nav #current a {color: #FDB;
  background-image: url(/libs/images/list/tabs2-big-ct.gif);
}

div#GridWrapper{
	padding:10 10 10 10;
}
div#GridWrapper #grider{
	maring-left:5px;
	padding-left:10px;
	margin-bottom:5px;
}

.tip-target {
            width: 100px;
            text-align:center;
            padding: 5px 0;
            border:1px dotted #99bbe8;
            background:#dfe8f6;
            color: #15428b;
            cursor:default;
            margin:10px;
            font:bold 11px tahoma,arial,sans-serif;
            float:left;
        }


.icon-grid,.moon-grid {
	background-image:url(/libs/resources/images/icons/fam/grid.png) !important;
}
.icon-edit{
	  height:16px;
	  width:16px;
		background-image:url(/libs/resources/images/icons/fam/cog_edit.png) !important;
}

.icon-delete{
		height:16px;
	  width:16px;
		background-image:url(/libs/resources/images/icons/fam/delete.gif) !important;
}

.icon-view{
		height:16px;
	  width:16px;
		background-image:url(/libs/images/view.png) !important;
}

.icon-add{
		background-image:url(/libs/resources/images/icons/fam/add.gif) !important;
}

div.banner{
	clear:both;
	color:#fff;
	background: #008FD6 none repeat scroll 0 0;
	font-weight:bold;
	padding:1em 1em 0;
	border-color:#004F75;
	border-style:solid;
	border-width:1px 0;
	height:30px;
}

.heading1 { color: #ffffff; font-family: Tahoma; font-size: 26px; font-weight: normal; background-color: #003366; margin: 0px;padding: 10px 0 3px 15px;width: 100%; }
		.heading2 { color: #000000; font-family: Verdana; font-size: .8em; font-weight: normal; background-color: #dcdcdc; margin-top: 0px; padding: 3px 0; width: 100%; border-bottom:2px solid #003366}
		.heading2 span{padding-left:10px}
		
		#content { margin:0 4px; font-size: 1em; padding-bottom: 2em; }
		A:link { color: #336699; font-weight: bold; text-decoration: underline; }
		A:visited { color: #6699cc; font-weight: bold; text-decoration: underline; }
		A:active { color: #336699; font-weight: bold; text-decoration: underline; }
		A:hover { color:#cc3300; font-weight: bold; text-decoration: underline; }
		P { color: #000000; margin-top: 0px; margin-bottom: 12px; font-family: Verdana; }
		pre { background-color: #e5e5cc; padding: 5px; font-family: Courier New; font-size: x-small; margin-top: -5px; border: 1px #f0f0e0 solid; }
		h2 { font-size: 1.5em; font-weight: bold; margin-top: 25px; margin-bottom: 10px; border-top: 1px solid #003366; margin-left: -15px; color: #003366; }
		h3 { font-size: 1.1em; color: #000000; margin-left: -15px; margin-top: 10px; margin-bottom: 10px; }
		ul { margin-top: 10px; margin-left: 20px; }
		ol { margin-top: 10px; margin-left: 20px; }
		li { margin-top: 0px; color: #000000; }
		font.value { color: darkblue; font: bold; }
		font.key { color: darkgreen; font: bold; }
		
		.intro { margin-left: -15px; }
		.table_wrapper{border:1px solid #993300;margin:2px;padding:2px;background-color:#F5EFE0;margin-bottom:10px;width:99%;}
		.tables {margin-left:10px;color:#000000;margin-bottom:2px;};
		
		.header a:link,.header a:visited,.header a:active,.header a:hover{
				color:#fff;font-weight: bold; text-decoration: underline;
		}
