<html>
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
	<LINK href="/libs/css/controls.css" rel=stylesheet>
	<LINK href="/libs/css/admin.css" rel=stylesheet>
	<LINK href="/libs/css/style1.css" rel=stylesheet>
  <link rel="stylesheet" type="text/css" href="/libs/resources/css/ext-all.css" />
  <link rel="stylesheet" type="text/css" href="/libs/resources/style.css"></link>
</head>
<body>
	<script type="text/javascript" src="/libs/scripts/adapter/ext/ext-base.js"></script>
  <script type="text/javascript" src="/libs/scripts/ext-all.js"></script>
