<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset={$charset|default:"gb2312"}">
<LINK href="/libs/css/admin.css" rel=stylesheet>
<script language="javascript" type="text/javascript" src="/libs/scripts/functions.js"></script>
<title>{$_table} &#34920;&#25968;&#25454;&#31649;&#29702; - Super PHP Framework (Moonzhang)</title>
<script>var oPages = ['oPage'];</script>
</head>
<body>
	<div id="toolTipLayer" style="position:absolute; visibility: hidden"></div>
<script language="javascript" type="text/javascript" src="/libs/scripts/tooltip.js"></script>
<div>
   <div class="heading2"><span style="color:blue"><script>document.write(location.host);</script></span> - Powered by Super PHP Framework (moonzhang)</div>
   <div class="banner">Table Admin:{$_table}&#34920;</div>
</div>
 <div id="content">
